body {
}

.ligne-table-ouvrage{
    cursor: pointer;
    transition: all 0.3s ;
}

.ligne-table-ouvrage:hover{
    transform: scale(1.03);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

}
